<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortner</title>
    <link rel="stylesheet" href="/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="container">
      <h1 class="h1">URL Shortner</h1>
      <form action="/shortcode" method="post">
        <label for="url">Enter URL:</label>
        <input
          type="url"
          name="url"
          id="url"
          placeholder="Enter your long URL here"
        />
        <label for="shortcode">Enter ShortCode:</label>
        <input
          type="text"
          name="shortcode"
          id="shortcode"
          placeholder="Enter desired shortcode"
        />

        <% if (errors && errors.length > 0) { %> <% errors.forEach((error) => {
        %>
        <p class="errors"><%= error %></p>
        <% }); %> <% } %>

        <button class="main-btn" type="submit" id="Shortner" value="Shortner">
          Generate Short URL
        </button>
      </form>

      <h2>Shortened URLs</h2>
      <!-- "{{ shortened_urls }}", -->
      <ul class="link-list">
        <% links.forEach(({ shortcode, url,id }) => { %>
        <li class="link-card">
          <div class="link-info">
            <a href="/<%= shortcode %>" target="_blank" class="short-link">
              <%= host %>/<%= shortcode %>
            </a>
            <p class="original-url">
              <%= url.length > 30 ? url.slice(0, 40) + '...' : url %>
            </p>
          </div>
          <div class="action-buttons">
            <a href="/edit/<%= id %>" class="edit-btn">
              <i class="fa-solid fa-pen"></i>
            </a>
            <form action="/delete/<%= id %>" method="POST" class="delete-form">
              <button type="submit" class="delete-btn">
                <i class="fa-solid fa-trash"></i>
              </button>
            </form>
          </div>
        </li>
        <% }); %>
      
      </ul>
      
    </div>
    <% if (totalPages > 1) { %>
      <div class="pagination">
        <% if (currentpage > 1) { %>
          <a href="?page=<%= currentpage - 1 %>" class="pagination-btn prev ">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
              <path d="M15 18l-6-6 6-6"/>
            </svg>
            Previous
          </a>
        <% } %>

      

        
<%
    let startingpage = Math.max(1, currentpage - 2);
    let endingpage = Math.min(totalPages, currentpage + 2);

    while(endingpage-startingpage<4 && startingpage >1){
      startingpage--;
    }
    while(endingpage-startingpage<4 && endingpage<totalPages ){
    endingpage++;
    }



%>

<% if (startingpage > 1) { %>
  <a href="?page=1" class="links">1</a>

  <% if (startingpage > 2) { %>
      <span class="ellipse">...</span>
  <% } %>
  <% } %>

  <% for (let i = startingpage; i <= endingpage; i++) { %>
    <% if (i === currentpage) { %>
        <span class="pagination-current"><%= i %></span>
    <% } else { %>
        <a href="?page=<%= i %>" class="links"><%= i %></a>
    <% } %>
<% } %>
        

  <% if (endingpage < totalPages) { %>

    <% if (endingpage < totalPages - 1) { %>
        <span class="ellipse">...</span>
    <% } %>

    <a href="?page=<%= totalPages %>" class="links"><%= totalPages %></a>

<% } %>

        <% if (currentpage < totalPages) { %>
          <a href="?page=<%= currentpage + 1 %>" class="pagination-btn next ">
            Next
            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
              <path d="M9 18l6-6-6-6"/>
            </svg>
          </a>
        <% } %>
      </div>
    <% } %>
    
    <!-- <%- include('partials/footer') %> -->
  </body>
</html>
